<h4>Questions</h4>
<div class="new_q">
  <%= button_to "New Question", new_question_path, :class => "btn btn-primary btn-lg", :method => :get  %>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
      <th></th>
      <th colspan="1">Question ID</th>
      <th colspan="1">Question Type</th>
      <th colspan="1">Content</th>
      <th colspan="1">Edit</th>
      <th colspan="1">Delete</th>
    </tr>
  </thead>
  <tbody>
<%= form_tag destroy_multiple_questions_path, method: :delete do %>
      <% @questions.each do |question| %> 
      <tr>
          <td> <%= check_box_tag "questions[]", question.id, false, class: "checkbox" %></td>
          <td><%= question.id %></td>
          <td><%= question.category%></td>
          <td><%= question.context%></td>
          <td><%= link_to "Edit", edit_question_path(question), {:class => "btn btn-primary"}%></td>
          <td><%= submit_tag "Delete selected", name: nil, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
      <br>
      <br>
        </div>
<% end %>
</tbody>
</table>
</div>