<h1>Surveys#index</h1>
<p>Find me in app/views/surveys/index.html.erb</p>

<%= fields_for :questions do |builder| %>
	<fieldset>
		<%= builder.label :context, "Question" %> <br />
		<%= builder.text_area :context %> <br />
		<%= builder.check_box :_destroy %>
		<%= builder.label :_destroy, "Remove Question" %>
	</fieldset>
<% end %>
