<h1>Surveys</h1>
<!-- should be in form.html but just to show. Please delete later -->
<div>
<%= form_tag destroy_multiple_surveys_path, method: :delete do %>
 <% @surveys.each do |survey| %> 
    <div class="survey">
    
      <p><%= "Survey Title: #{survey.title}" %></p>
      <p><%= "Survey Date: #{survey.date}" %></p>
      <%= link_to(survey.id, survey_path(survey)) %>
      <%= link_to("Respond", respond_survey_path(survey)) %>
      <p><%= check_box_tag "surveys[]", survey.id %></p>
      <p><%= submit_tag "Delete selected" %></p>
      <% end %>
      <br>
      <br>
    </div>
    <% end %>

</div>

<div>
<%= link_to "Create Survey", 'surveys/new' %>
<p><%= submit_tag "Edit Checked" %></p>
</div>