<%= form_for :response, :url => {:action => "submitResponse", :id=>@survey} do |f| %>

<div class="survey">
<p><%=f.label "Survey Title: #{@survey.title}" %></p>
<p><%=f.label "Survey Date: #{@survey.date}" %></p>
<%= @surveyquestions.each do |sq| %>
	<p><%= f.label @questions.find(sq).context %></p>
	<p><%= f.text_area :response %></p>
<% end %>
<%= f.submit "Submit", class: "btn-submit" %>
</div>
<% end %>
