<%= form_for :response, :url => url_for(:id =>@survey.id, :action => "submitReponse"), :html => {:class => "form-horizontal center"} do |f| %>

<div class="survey">
<%=f.label @survey.title, class: "form-control" %>
<%=f.label @survey.date, class: "form-control" %>
<%= @surveyquestions.each do |sq| %>
	<%= f.label @questions.find(sq).context, class: "form-control" %>
	<%= f.hidden_field :question_id, :value => sq, multiple: true %>
	<%= f.text_area :responses, multiple: true, class: "form-control" %>
<% end %>
<%= f.submit "Submit", class: "btn btn-primary" %>
</div>
<% end %>