<div class="survey">
      <h2><%= @survey.title %></h2>
      <h2><%= @survey.date %></h2>
      <h3>Questions</h3>
      <table class = "table">
        <thead>
          <tr>
            <th colspan="1">ID</th>
            <th colspan="1">Content</th>
          </tr>
        <thead>
        <tbody>
      <%= @surveyquestions.each do |sq| %>
      <tr>
        <td> <%= sq %> </td>
        <td> <%= @questions.find(sq).context %> </td>
      </tr>
      <% end %>
    </tbody>
    <%= link_to "Edit", edit_survey_path(@survey), {:class => "btn btn-primary"}%>
  </table>
      <br>
      <br>
  </div>