<h1>Surveys</h1>

<div>
    <div class="survey">
    
      <p><%= "Survey Title: #{@survey.title}" %></p>
      <p><%= "Survey Date: #{@survey.date}" %></p>
      <p><%= @surveyquestions.each do |sq| %></p>
      <p><%= @questions.find(sq).context %> </p>
      <% end %>
      <p><%= @question_new %></p>
      <br>
      <br>
    </div>
</div>