<!DOCTYPE html>
<html>
<div class="container">
  <head>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'shared/navigation' %>
    <div class="header">
      <div class="container">
        <%= link_to root_path do %>
        <%=image_tag("eagle_logo.jpg", width: "100px", alt: "BC Seal", :class => "style_image")%>
        <%=image_tag("logo_gold_2.png", width: "100px", alt: "BC Logo", :class => "gold_logo")%>
        <%=image_tag("varsity_swim.png", alt: "Varsity Swim", :class => "varsity_logo")%>
        <% end %>
        <div class="nav pull-right">
          
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</div>
</html>
